{% extends 'base.html' %}
{% block title %} Show Books {% endblock %} 
{% block content %}
<div style="width: 50%; margin: auto; text-align: center">
  <h1>Available Books</h1>
  {% if data %}
</div>
<div style="width: 80%; margin: auto; text-align: center">
  <table class="table table-bordered table-primary">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Book Name</th>
        <th scope="col">Author Name</th>
        <th scope="col">Category</th>
        <th scope="col">First Publication</th>
        <th scope="col">Last Publication</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.book_name}}</td>
        <td>{{item.author}}</td>
        <td>@{{item.category}}</td>
        <td>@{{item.first_pub}}</td>
        <td>@{{item.last_pub}}</td>
        <td>
          <a href="{% url 'edit_book' id=item.id %}" class="btn btn-warning"
            >Edit</a
          >
          <a href="{% url 'delete_book' id=item.id %}" class="btn btn-danger"
            >Delete</a
          >
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <h3>No Data Available</h3>
  {% endif %}
</div>
{% endblock %}
