{% extends 'base.html' %} 
{% block content %}

<div style="width: 50%; margin: auto; text-align: center">
  <h1>Are you sure to delete this book?</h1>
</div>
<div style="width: 50%; height: 100%; margin: auto; text-aligh: center">
    <form method="post">
        {% csrf_token %}
        {{form}}
        <div style="width: 50%; margin: auto; text-align: center">
            <button class="btn btn-primary" type="submit">
                Delete
            </button>
        </div>
    </form>
</div>

{% endblock %}
