asgiref==3.7.2
distlib==0.3.7
dj-database-url==2.0.0
Django==4.2.3
django-heroku==0.3.1
filelock==3.12.2
gunicorn==21.2.0
packaging==23.1
platformdirs==3.9.1
psycopg2==2.9.7
sqlparse==0.4.4
typing_extensions==4.7.1
tzdata==2023.3
virtualenv==20.24.2
whitenoise==6.5.0
